extends layout

block content
  #landing-page.container
    .hero
      h1 Dungeon World Newsletter
      p 
        | Dungeon World content and resources for GMs and players.
        br 
        | Sent every second Thursday.
   

    //newgamesninja.us1.list-manage.com/subscribe/post?u=753ff45eb0b09a6c78a7bd76e&id=fa83f82e77
    form#signup(action='//newgamesninja.us1.list-manage.com/subscribe/post-json?u=753ff45eb0b09a6c78a7bd76e&id=fa83f82e77&c=?' method='get')
      .input-group.col-sm-8.offset-sm-2
        input.form-control(name='EMAIL' placeholder='email address' type='text')
        span.input-group-btn
          button.btn-primary.btn(type="submit") Subscribe

      .response-container.col-sm-8.offset-sm-2
        #signup-response

  #about.container
    .container.col-sm-6.col-sm-offset-3
      .about 
        a(href="http://www.dungeon-world.com" target="_blank") Dungeon World 
        |  was created by Adam Koebel and Sage LaTorra. Dungeon World Newsletter is an unofficial newsletter curated by 
        a(href="http://vindexus.net") Colin "Vindexus" Kierans
        |. The background image is by user 
        a(href='https://www.flickr.com/photos/38436453@N07/3924238584/') targut
        |  on Flickr. The favicon is by Lorc from 
        a(href="http://game-icons.net") game-icons.net
        |.
      .links
        a(href="https://goo.gl/forms/kkU7ORWM3paZmXWf2") Submit Content
        |  - 
        a(href="mailto:vindexus@gmail.com") Contact Colin
