extends ../layout
block content
  .container
    .card
      .card-header
        a.btn.btn-primary.float-right(href='/entries/add') Add
        h2 Entries
      .card-block
        ul.nav.mb-3
          li.nav-item.mr-1
            a.nav-link.btn.btn-primary(href='?status=approved') Approved
          li.nav-item.mr-1
            a.nav-link.btn.btn-primary(href='?status=sent') Sent
          li.nav-item.mr-1
            a.nav-link.btn.btn-primary(href='?status=rejected') Rejected
        if error
          .alert.alert-danger= error
        if entries
            each entry in entries
              .row
                .col-md-10
                  .newsletter-reset
                    +entry(entry)
                .col-md-2.text-right
                  .badge-container.mb-1(style="font-size: 1.5em;")
                    if entry.status == 'approved'
                      .badge.badge-pill.badge-success Approved
                    if entry.status == 'rjected'
                      .badge.badge-pill.badge-warning Rejected
                    if entry.status == 'sent'
                      .badge.badge-pill.badge-info Sent

                  a.btn.btn-outline-primary(href='/entries/#{entry._id}') Edit